:root{
    --background-color: #F7F7F7;
    --button-color: #6C63FF;
    --text-color: #252525;
}


h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    background-color: var(--background-color);

    padding: 20px;
}

ol {
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

.container{
    display: flex; 
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: var(--button-color);
}