:root {
    --background-color: #F7F7F7;
    --button-color: #6C63FF;
    --text-color: #252525;
}

body {
    background-color: var(--background-color);
    font-family: 'Kanit', 'Rubik', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

ol {
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    margin: 0 auto;
    position: relative;
    
}

.header-section {
    width: 750px;
    height: 175px;
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: var(--background-color);
    z-index: 100;
    top: 0;
}

.header {
    top: 40px;
    font-size: 26px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 38px;
    width: 750px;
    margin-top: 18px;
    margin-bottom: 40px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    border: 1px solid;
    border-color: var(--button-color);
    background-color: var(--background-color);
    border-radius: 5px;
}

.search-input {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    color: #C3C1E5;
    padding-left: 16px;
    height: 38px;
}

.search-input::placeholder {
    color: #C3C1E5;
}

.search-btn {
    background-color: transparent;
    border: none;
    padding-right: 16px;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.filter-select {
    width: 130px;
    border-radius: 5px;
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--background-color);
    font-family: 'Kanit', 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.theme {
    width: 38px;
    border-radius: 5px;
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--background-color);
}

.tasks-wrapper {
    width: 750px;
    display: flex;
    justify-content: center;
}

.tasks {
    display: flex;
    justify-content: center;
    /*padding-top: 30px;*/
    width: 520px;
    position: relative;
}

.tasks-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    padding: 17px 0;
    transition: opacity 0.3s ease;
}

.task-item:first-child {
    padding-top: 0;
}

.task-item:not(:last-child) {
    border-bottom: 1px solid #E0E0E0;
}

.task-content {
    display: flex;
    align-items: center;
    gap: 17px;
    flex: 1;
    min-width: 0;
}

.task-item label {
    text-transform: uppercase;
}

input[type="checkbox"] {
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid var(--button-color);
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--button-color);
}

input[type="checkbox"]:checked::before {
    content: "";
    background-image: url("/icons/check-mark.svg");
    color: var(--background-color);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.task-checkbox:checked+.task-text {
    text-decoration: line-through;
    color: #252525;
    opacity: 50%
}

.actions-icon {
    width: 18px;
    height: 18px;
}

.actions-btn {
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

.add {
    position: fixed;
    bottom: 32px;
    right: 333px;
    z-index: 100;
}

.add-btn {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding-right: 8px;
    cursor: pointer;
}

.addTask {
    hidden: true;
}